extends ../layouts/default

block content
  #contact
    h2 Santa Barbara, CA
    #map-canvas
    .container-fluid
      .row
        .main-module.no-float.col-xs-10.col-sm-8.col-md-6.col-lg-4
          .icon
          h1
            | Contact
          if enquirySubmitted
            h3 Thanks for getting in touch.
          else
            form(method='post')
              input(type='hidden', name='action', value='contact')
              .form-group(class=validationErrors.name ? 'has-error' : null)
                input(type='text', name='name.full', value=formData['name.full'], required, placeholder='Name').form-control
              .form-group(class=validationErrors.email ? 'has-error' : null)
                input(type='email', name='email', value=formData.email, required, placeholder='Email').form-control
              .form-group
                input(type='text', name='phone', value=formData.phone, placeholder='Phone').form-control
              .form-group(class=validationErrors.message ? 'has-error' : null)
                textarea(name='message', placeholder='Leave a message...' rows=4).form-control= formData.message
              .form-actions
                button.full-width(type='submit').btn.btn-primary Send
block js
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDttdiA5x7SLKyGKS9qm4GLGlZCt_26wFc&sensor=false')
  script(src='/js/views/contact.js')

