extends ../layouts/default

block content
  #contact.container-fluid
    if enquirySubmitted
      h3 Thanks for getting in touch.
    else
        .row
          #map-canvas.pull-right

          h2 Santa Barbara, CA
          .col-xs-12.col-sm-4.pull-left
            h1 Send a Message
            form(method='post')
              p.
               Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              input(type='hidden', name='action', value='contact')
              .form-group(class=validationErrors.name ? 'has-error' : null)
                input(type='text', name='name.full', value=formData['name.full'], required, placeholder='Name').form-control
              .form-group(class=validationErrors.email ? 'has-error' : null)
                input(type='email', name='email', value=formData.email, required, placeholder='Email').form-control
              .form-group
                input(type='text', name='phone', value=formData.phone, placeholder='Phone').form-control
              .form-group(class=validationErrors.message ? 'has-error' : null)
                textarea(name='message', placeholder='Leave a message...' rows=4).form-control= formData.message
              .form-actions
                button.full-width(type='submit').btn.btn-primary Send
block js
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDttdiA5x7SLKyGKS9qm4GLGlZCt_26wFc&sensor=false')
  script(src='/js/views/contact.js')

