//
   Created by ksespinola on 5/13/14.

extends ../layouts/default
include ../mixins/bootstap-carousel
include ../mixins/cycle2
include ../mixins/sidebar
block content
  - var mainGallery = galleries[0]
  +cycle2(mainGallery.images, 'FullBg', true)
  #Gallery.overflow-hidden
    #Next.fa.fa-chevron-left.fa-4x.btn
    #Prev.fa.fa-chevron-right.fa-4x.btn
    .main-module.col-sm-offset-2.col-sm-6.col-md-8.active.hidden-xs
      nav.secondary-nav.navbar.navbar-default.navbar-static.col-xs-10.col-md-8.col-lg-10(role='navigation')
        .container-fluid
          .navbar-header
            h1#title= mainGallery.name
      .cycle-pager
      #Info
        .container-fluid: .row
          .col-sm-12
            h2#date= mainGallery._.publishedDate.format('Do MMM YYYY')
            p#blurb= mainGallery.blurb.Type.md
  +sidebar()
    each gallery in galleries
      .col-xs-10.no-float.center
        article.card.item-thumb(data-id="#{gallery._id}")
          .banner.full-center-bg.sm-banner(style='background-image: url(#{gallery.heroImage.url})')
          h1= gallery.name
  +cycle2-template()
  +pager-template()