//
   Created by ksespinola on 5/13/14.

extends ../layouts/default
include ../mixins/bootstap-carousel
include ../mixins/cycle2
include ../mixins/sidebar
block content
  - var mainGallery = galleries[0]
  +cycle2(mainGallery.images, 'FullBg', true)
  #Next.fa.fa-chevron-right.fa-4x.btn.direction-btn
  #Prev.fa.fa-chevron-left.fa-4x.btn.direction-btn
  #Gallery.overflow-hidden
    .container-fluid: .row
      .main-module.col-sm-10.no-float.active.hidden-xs
        nav.secondary-nav.navbar.navbar-default.navbar-static.col-xs-10.col-md-8.col-lg-10(role='navigation')
          .container-fluid
            .navbar-header
              h1#title
                | #{mainGallery.name}
        #Info: .container-fluid: .row
          .col-xs-12
            h2#date= mainGallery._.publishedDate.format('MMM Do YYYY')
            p#blurb= mainGallery.blurb.Type.md
          .cycle-pager.clearfix.col-xs-12
  +sidebar()
    each gallery in galleries
      .col-xs-10.no-float.center
        article.card.item-thumb(data-id="#{gallery._id}")
          .banner.full-center-bg.sm-banner(style='background-image: url(#{gallery.heroImage.url})')
          h1= gallery.name
  +cycle2-template()
  +pager-template()

block js
  script(src='js/views/gallery.js', type='text/javascript')